<web-app id="WebApp_ID" version="2.4" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>CS372-Project</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>content_entry</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.Main_entry_content</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>content_entry</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>
	<servlet>	
		<servlet-name>new_account_creation</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.new_account_serv</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>userLogin</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogin</servlet-name>
		<url-pattern>/user_login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>userLogout</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userLogout</servlet-name>
		<url-pattern>/user_logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>forgot_password</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.forgot_pwd_serv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>forgot_password</servlet-name>
		<url-pattern>/forgot_pwd</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Answer_question</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.security_Answer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Answer_question</servlet-name>
		<url-pattern>/securityAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>update_password</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.resetpwd_serv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update_password</servlet-name>
		<url-pattern>/updatedPassword</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>edit_content</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.editContent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>edit_content</servlet-name>
		<url-pattern>/eContent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>update_content</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.updateContent</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update_content</servlet-name>
		<url-pattern>/upContent</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>submit_change</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.submit_content_change</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>submit_change</servlet-name>
		<url-pattern>/subChange</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>remove_subtitle</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.remove_content</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>remove_subtitle</servlet-name>
		<url-pattern>/remove_record</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>delete_subtitle</servlet-name>
		<servlet-class>
			cs372.fall2025.servLet.delete_title_selection
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete_subtitle</servlet-name>
		<url-pattern>/delete_record</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>change_access</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.access_level_serv</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>change_access</servlet-name>
		<url-pattern>/change_privilege</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>job_listing</servlet-name>
		<servlet-class>cs372.fall2025.ServLet.job_entry_list</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>job_listing</servlet-name>
		<url-pattern>/job_list</url-pattern>
	</servlet-mapping>
</web-app>
